# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore git files
.git
.gitignore

# Ignore environment variables
.env