fastapi[all]==0.115.8
uvicorn==0.34.0
torch==2.6.0
transformers==4.48.3
pillow==11.1.0
numpy==2.2.3
opencv-python==4.11.0.86
scikit-learn==1.6.1
scikit-image==0.25.1
matplotlib==3.10.0
mahotas==1.4.18